:focus {
    outline: none !important;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* User Style */
.no-overflow {
    overflow: hidden;
}

#Start_Time, #End_Time, #extend-lab-form-end-time {
    background: #fff url("./images/calendar.jpg") no-repeat right 5px top 2px;
}

.new-participant-row {
    border: 2px solid #999;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px 0;
    background-color: #f9f9ff;
    position: relative;
    font-weight: bold;
}

.new-participant-row-index {
    background-color: #fff9f9;
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid #999;
    border-radius: 2px 5px 5px 5px;
    padding: 5px 12px;
}

.delete-new-participant-row {
    position: absolute;
    top: 5px;
    right: 15px;
}

#add-participant {
    padding: 3px 7px;
}

#add-participant:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

/* Plugin CSS Hacks */

#gview_lab-list {
    font-size: 80%;
}

.ui-jqgrid .ui-jqgrid-view {
    font-size: 14px !important;
}

.tablediv {
    padding: 7px;
}

.xdsoft_scrollbar {
    right: 1px;
}

.xdsoft_monthselect {
    padding-right: 15px;
}

.control-label {
    font-weight: normal;
    font-family: Verdana, Tahoma, 'Trebuchet MS';
}

.ui-icon-triangle-1-s {
    background-position: -65px -16px !important;
}